* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #a1c3ff;
}

img {
    max-width: 100%;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background: #3474e6;
    color: #fff;
    height: 60px;
}

.navbar a:hover {
    color: lightblue;
}
.logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

header {
    background: #0a51cc;
    color: #fff;
    min-height: 400px;
}

.header h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.header img {
    max-width: 400px;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
}

.box {
    flex: 1;
    background: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.6);
    padding: 15px 20px;
}

.box i {
    /* margin-right: 10px; */
}

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }

    .boxes .container {
        display: block;
        text-align: center;
    }
}













































/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 400px;
    background-color: #f4f4f4;
    alignment property
    it should used on the container not the item... function left and right N>B Its alway on the main axis
    justify-content: centen; 
this function in respect to up and down N.B Always on the cross axis
    align-items: center;

    To creat column
    flex-direction: column;
}

To clear the float from affecting the children element, i have to run this code>
.container::after {
    content: '';
    clear: both;
    display: block;
}

.items {
    width: 100px;

    width using flex
    flex-basis: 200px;

    height: 100px;
    background: #254de4;
    margin: 10px;

    if i use float element here, every other thing coming after the box will also float. However, to clear this we have to run another code to clear this float from affecting the current element. This is if we decided not to use display:flex
    float: left;

    To center item, we can still use display:flex
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

h2 {
    this will float left also 
}

.items:nth-of-type(1) {    
    to align self, is to make position each box individually
    align-self: center;
    flex-basis: 40px;
}
.items:nth-of-type(2) {    
    align-self: flex-start;
    flex-grow: 3;
}
.items:nth-of-type(3) {    
    align-self: flex-end;
}

flex-grow
flex-shrink
flex: this capture 3 elements which are flex-grow, flex-shrink, and the flex-basis */
